.forumBanner-wrapper {
  position: relative;
  z-index: 0;
  padding-top: 49.69%; //the image ratio
  background: url('../../../../../public//forumBanner.png') no-repeat center;
  background-size: cover;

  div {
    position: absolute;
    top: 32.4%;
    left: 8%;
    font-size: 2rem;
    letter-spacing: 0.5px;

    @media (max-width: 602px) {
      top: 24%;
      font-size: 1.7rem;
    }

    @media (max-width: 400px) {
      top: 24%;
      font-size: 1.2rem;
    }

    p { 
      margin: 0.3em; 
      white-space: nowrap;
    }

    & p:first-child{
      color: #352a29;
    }

    & p:nth-child(2) {
      color: #ffffff;
    }

    & p:last-child {
      background-image: linear-gradient(to right, #eaae8c, #e5ba93, #e1c69e, #ddd0ac, #dcdabc);
      border-radius: 5em;
      text-align: center;
      padding: 0.2em;
      color: #352a29;
      font-weight: bold;
      margin: 0 auto;
      max-width: 50%;
      margin-top: 1.75rem;
    }
  }

  & img {
    vertical-align: middle;
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}