header {
  height: 5em;
  background-image: linear-gradient(to bottom, #008983, #007b76, #006d69, #00605c, #005350);
  box-shadow: 1px 1px 3px 4px rgb(170, 169, 169);
  opacity: 0.9;
  color: #ffffff;
  font-weight: 600;
  letter-spacing: 1.4px;
  opacity: 0.9;
  transition: opacity 200ms ease-in;

  &:hover {
    opacity: 1;
  }
}
