header {
  height: 5em;
  width: 80%;
  margin: 2em auto;
  border: 2px solid limegreen;
  border-radius: 1em;
  background-color: lightcoral;

  & .example-appear {
    opacity: 0.04;
  }

  & .example-appear.example-appear-active {
    opacity: 2;
    transition: opacity 50s ease-in;
  }
}