@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai+2&display=swap');

html {
  box-sizing: border-box;
  font-family: 'Baloo Bhai 2', cursive, sans-serif;
}

*, *:before, *::after {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(233, 233, 233);
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}

header, main {
  margin: 2em auto;
}

li {
  list-style-type: none;
}

@media only screen and (max-width: 920px) {
  html {
    font-size: 15px;
  }
}

@media only screen and (max-width: 750px) {
  html {
    font-size: 13px;
  }
}

@media only screen and (max-width: 602px) {
  html {
    font-size: 12px;
  }
}
